{% extends "app/index.html" %} {% load static %} {% block container %}
<style>
  .guitarra{
    border: 5px solid #ACBCFF;
    }
  .nav-item{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .d-flex{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-link {
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Volkhov', serif;
    color: #ACBCFF;
}
  .nav-link:hover{
    color: #B799FF;
}
</style>
<!-- Vertical nav -->
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Guitarras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Discos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Parlantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Teclados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Baterias</a>
        </li>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Buscar..">
        </form>
      </ul>
    </div>
    <div class="container-fluid col-sm-10">
      <div class="row">
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
        <div class="col-sm-4">
          <a href=""><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>
        </div>
      </div>
    </div>
    </div>
    
  </div>
</div>
{% endblock %}
