{% extends "app/index.html" %} {% load static %} {% block container %}
<style>
  .guitarra{
    border: 3px solid #ACBCFF;
    transition: transform .2s;
    }
    .guitarra:hover{
      transform: scale(1.1);
    }
  .nav-item{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .d-flex{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-link {
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Volkhov', serif;
    color: #ACBCFF;
}

.objeto{
  width: 50%;
}
  .nav-link:hover{
    color: #B799FF;
}
#modalContent{
   position:absolute;
   top:30%;
   left:35%;
   z-index:6;
   float:left;
   margin:-2% 0px 0px -150px;
   width:700px;
   color:#888888;
   line-height:22px;
   padding:15px;
   border-radius:5px;
   background:#ffffff;
   border:1px solid #f7be68;
   box-shadow:5px 5px 10px 0px rgba(0,0,0,0.22);
}

#modal{
   position:fixed;
   top:0px;
   left:0px;
   z-index:5;
   float:left;
   width:100%;
   height:100%;
   background:rgba(0,0,0,0.2);
   display:none;
   opacity:0;
}

#modal > a{
   position:fixed;
   top:0px;
   left:0px;
   z-index:1;
   float:left;
   width:100%;
   height:100%;
}

:target{
   display:block!important;
   opacity:1!important;
}

#modalContent > a{
   position:absolute;
   top:-4px;
   right:-4px;
   color: #fff;
   border-radius:2px;
   background:#f7be68;
   padding:10px;
   font-size: 30px;
   text-decoration: none;
}
</style>
<!-- Vertical nav -->
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Guitarras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Discos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Parlantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Teclados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Baterias</a>
        </li>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Buscar..">
        </form>
      </ul>
    </div>
    <div class="container-fluid col-sm-10">
      <div class="row">
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Guitarra</h1>
                 <p style="text-align:center;">Contenido</p>
                 <img class="objeto" src="{% static 'app/img/guitarra.jpg' %}" alt="">
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
                 <p style="text-align:center;">Contenido</p>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
                 <p style="text-align:center;">Contenido</p>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
                 <p style="text-align:center;">Contenido</p>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
                 <p style="text-align:center;">Contenido</p>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
                 <p style="text-align:center;">Contenido</p>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
                 <p style="text-align:center;">Contenido</p>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
                 <p style="text-align:center;">Contenido</p>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a href="#modal"><img class="guitarra rounded" src="{% static 'app/img/guitarra.jpg' %}"/></a>   
          <div id="modal">
            <a href="#cerrar"></a>
              <div id="modalContent">
                <a href="#cerrar">X</a>
                 <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
                 <p style="text-align:center;">Contenido</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>
</div>
{% endblock %}
